* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    background: url("img-3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(230, 230, 230, 0.399);
    color: white;
    padding-bottom: 18px;
}

.brand-title:hover {
    transition: 0.9s ease-in-out;
    color: aquamarine;
    font-size: 4rem;
}

.brand-title {
    margin-top: 8px;
    font-family: 'Reem Kufi', sans-serif;
    color: rgba(255, 255, 255, 0.92);
    padding-left: 20px;
    font-size: 1.9rem;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    text-shadow: -8px 8px 0px #00e6e658, -10px 10px 0px #01cccc35, -16px 16px 0px #00bdbd37;
}

.navbar-links ul {
    margin: 0;
    margin-right: 2rem;
    margin-top: 19px;
    padding: 0;
    display: flex;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.navbar-links li {
    list-style: none;
    box-sizing: border-box;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    display: block;
    font-size: 1.2rem;
}

.navbar-links li:hover {
    box-sizing: border-box;
    transition: all 0.3s ease all;
    border-radius: 2px;
    border-bottom: 2px solid rgb(255, 244, 129);
}





.toggle-button {
    position: absolute;
    top: .75rem;
    margin-top: 4px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.icon {
    font-size: 2.5rem;
    color: rgb(255, 244, 129);
    padding-left: 6px;
    margin-top: 10px;
    justify-content: center;
}

.welcome-container {
    margin: 0 auto;
    width: 1100px;
    margin-top: 130px;
    border-radius: 12px;
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: white;
    border-radius: 12px;
    text-shadow: 0px 3px 0px #0000003a, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
}

.row {
    margin: 0 -5px;
    width: 50%;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 0 30px;
}

.card-1 {
    
    background-size: cover;
    border-radius: 6px;
    background-position: bottom;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.372);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    height: 300px;
    
}

.card-2 {
    background: url("/img-6.jpg");
    border-radius: 6px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.372);
    padding: 16px;
    text-align: center;
    height: 300px;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    body {
        margin-top: 90px;
    }
    .navbar {
        position: fixed;
        background: rgba(252, 252, 252, 0.454);
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem;
    }
    .navbar-links .active {
        display: flex;
    }
    .welcome-container {
        width: 80%;
        height: 100px;
        margin-top: 40px;
    }
    h1 {
        font-size: 40px;
        text-align: center;
    }
    .brand-title {
        font-size: 1.8rem;
    }
    .icon {
        font-size: 2rem;
    }
    .row {
        margin-top: 30px;
        width: 90%;
    }
    .column {
        margin-top: 30px;
        margin: 0 auto;
        width: 100%;
        ;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 992px) {
    .row {
        margin-top: 30px;
        width: 80%;
    }
    .column {
        margin-top: 30px;
        margin: 0 auto;
        width: 100%;
        ;
        display: block;
        margin-bottom: 20px;
    }
}